body {
  background-color: #a6192e;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0 4rem 0 4rem;
}
main {
  background-color: rgb(59, 59, 59);
  max-width: 1000px;
  box-shadow: 0 0 15px #3a3a3a;
  padding: 1.5rem 0 2rem 0;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-display: bold;
  color: #cc0633;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 1.5rem;
}
table {
  border: 1px solid #bbb;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
tr {
  border: 1px solid #bbb;
}
th {
  text-align: left;
  border: 1px solid #bbb;
  background-color: lightgray;
  min-width: 120px;
  padding: 4px;
}
td {
  border: 1px solid #bbb;
  padding: 8px;
}
input {
  max-width: 30px;
  height: 24px;
  margin: 0 2px 0 2px;
}
button {
  background-color: #cc0633;
  border: none;
  border-radius: 4px;
  min-width: 80px;
  padding: 8px;
  color: white;
}
.calc {
  background-color: white;
  padding: 2rem 1rem 2rem 1rem;
}
.oung {
  border: 1px solid #D2E1E6;
  border-radius: 3px 3px 3px 3px;
  background-color: #E9EFF1;
  padding: 0 1rem 1rem 1rem;
}
